entrypoint = "server.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run WhatsApp Bot"

[[workflows.workflow]]
name = "Run WhatsApp Bot"
author = 43812813
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run WhatsApp Bot"
